<div class="flex-row flex justify-content-between align-items-center
lg:h-4rem
sm:h-3rem">
    <div class="ml-2 mt-3">
           <p class="lg:text-3xl text-indigo-800
           sm:text-2xl" [routerLink]="['/week']">Calendar Application</p>
    </div>
    <div class="flex align-items-center flex-row 
    mr-2 mt-3 text-primary-800">
        <i class="pi pi-sun m-2 hover:shadow-3 p-2 border-circle lg:text-xl"></i>
        <i class="pi pi-language m-2 hover:shadow-3 p-2 border-circle lg:text-xl"></i>
        <i class="pi pi-cog m-2 hover:shadow-3 p-2 border-circle lg:text-xl"></i>
    </div>
</div>
<p-divider class="w-12"></p-divider>
