<div class="col-12 flex justify-content-center align-items-center h-screen w-screen">
  <p-card class="text-center col-6 w-28rem h-auto">
    <header class="flex justify-content-evenly align-items-center flex-row mb-7 h-full">
      <div [routerLinkActive]="'active'" [routerLink]="['/']" class="col-7 h-full">
        LOGIN <i class="pi pi-user ml-4"></i>
      </div>
      <div [routerLink]="['/register']" class="inactive h-full">
        <i class="pi pi-user-plus"></i>
      </div>
    </header>
      <form [formGroup]="loginForm" (ngSubmit)="proceedLogin()" class="">
        <div class="mb-5">
          <input type="text" pInputText 
          formControlName="user" placeholder="Username"
          class="w-full border-round-3xl"/>
        </div>
        <div class="mb-1">
          <input type="password" pInputText 
          placeholder="Password" formControlName="password"
          class="w-full border-round-3xl p-2"/>     
        </div>
        <div class="flex justify-content-start mb-6 ml-2">
          <p class="text-xs">You don't have an account? 
            <a [routerLink]="['/register']" class="font-bold text-sm">Register from here.</a>
          </p>
        </div>
        <div class="card flex justify-content-center">
          <button pButton pRipple label="Login" 
            class="bg-teal-200 w-6rem border-0 border-round-md">
          </button>
        </div>
      </form>
      
  </p-card>
</div>