<div class="card flex justify-content-center">
    <p-card header="Title">
        <div class="card flex justify-content-center">
          <input type="text" pInputText formControlName="text" placeholder="Username"/>
        </div>
        
        <div class="card flex justify-content-center">
          <form [formGroup]="formGroup">
            <p-password formControlName="password" [toggleMask]="true" placeholder="Password"></p-password>
          </form>
        </div>
    </p-card>
</div>  