/* CALENDAR */

.day p:last-child, .day p:first-child{
    opacity: 0.5;
    pointer-events: none;
}
.weekdays p:last-child, .weekdays p:first-child{
    opacity: 0.5;
    pointer-events: none;
    background-color: var(--indigo-100) ;
}