/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}
body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.active{
    border-bottom: 4px solid #ccd0b3c3;
    border-top-left-radius:3rem ;
    border-top-right-radius:3rem ;
    width: 100%;
}