<div class="col-12 flex justify-content-center align-items-center h-screen w-screen">
    <p-card class="text-center col-6 w-28rem h-auto">
      <header class="flex justify-content-evenly align-items-center flex-row mb-7 h-full">
        <div [routerLink]="['/']" class="inactive h-full">
          <i class="pi pi-user"></i>
        </div>
        <div [routerLinkActive]="'active'" [routerLink]="['/register']" class="col-8 h-full">
          REGISTER <i class="pi pi-user-plus ml-4"></i>
        </div>
      </header>
        <form [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
          <div class="my-3">
            <input type="text" pInputText 
            formControlName="id" placeholder="Username"
            class="w-full border-round-3xl"/>
          </div>
          <div class="my-3">
            <input type="text" pInputText 
            formControlName="name" placeholder="Name"
            class="w-full border-round-3xl"/>
          </div>
          <div class="my-3">
            <input type="text" pInputText 
            formControlName="email" placeholder="E-mail"
            class="w-full border-round-3xl"/>
          </div>
          <div class="my-3">
            <input type="password" pInputText 
            placeholder="Password" formControlName="password"
            class="w-full border-round-3xl p-2"/>     
          </div>
          <div class="flex justify-content-start mb-6 ml-2">
            <p class="text-xs">You already have an account? 
              <a [routerLink]="['/']" class="font-bold text-sm">Login from here.</a>
            </p>
          </div>
          <div class="card flex justify-content-center">
          <button pButton pRipple label="Done" 
          class="bg-teal-200 w-6rem border-0 border-round-md">
          </button>
        </div>
        </form>
        
    </p-card>
  </div>
